table {
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  .available {
    background-color: rgb(86, 212, 86);
  }
  
  .reserved {
    background-color: rgb(223, 94, 94);
  }
  